npm install @react-navigation/native
npm install @react-navigation/native-stack
npm install react-native-screens
npm install react-native-safe-area-context
npx expo install react-native-gesture-handler
npx expo install react-native-reanimated
npm install @react-navigation/stack
npm install react-native-paper
npx expo install @react-navigation/drawer 

npm install
npx expo start -c